* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-size: 130%;
    color:burlywood;
    background-color: rgb(13, 12, 14);
}

img {
    max-width: 500px;
    max-height: 500px;
    display: inline-block;
    padding-left: 30px;
    border: 2px solid black;
}

h1,h2 {
    text-transform: uppercase;
    font-size: 110%;

}

#logo {
    text-align: center;
    font-size: 300%;
    letter-spacing: 5px;
    background-color: rgb(13, 12, 14);
    color: burlywood;
}

#menu ul {
    text-align: center; 
    letter-spacing: 3px;
    background-color: burlywood;

}
#menu li {
    list-style-type: none;
    font-size: 120%;
    height: 50px;
    display: inline-block;
    margin: 1%;
    line-height: 75px;
}

#menu , a:hover {
    background-color: black;
    color: burlywood;
}
#menu , a {
   text-decoration: none; 
   color:rgb(13, 12, 14);
}

#logo {
    line-height: 150px;
}

section {
    text-align: center;
}

fieldset {
    background-color: burlywood;
    height: auto;
}

form {
    padding-top: 20px;
    padding-bottom: 20px;
}

input {
    display: flexbox;
    outline: none;
    padding: 10px;
    border: 2px solid black
}

.input:hover {
    background-color:black ;
    color: burlywood;
}

#review1 {
    text-align: left;
    padding-left: 10px;
}

#review2 {
    text-align: center;
}

#review3 {
    text-align: right;
    padding-right: 10px;
}
