* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-size: 130%;
    color:burlywood;
    background-color: rgb(13, 12, 14);
}

.img-home {
    max-width: 400px;
    max-height: 400px;
    display: inline-block;
    border: 2px solid black;
    height: auto;
}

.img-menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.img-menu {
    transition-duration: 1s;
}
.img-menu:hover {
    width: 80%
}
.menu-description {
    padding-left: 3rem;
    padding-right: 3rem;
}


h1 {
    text-transform: uppercase;
    font-size: 110%;
    text-align: center;
}
h2 {
    text-transform: uppercase;
    font-size: 110%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-decoration: underline;
}


#logo {
    text-align: center;
    font-size: 300%;
    letter-spacing: 5px;
    background-color: rgb(13, 12, 14);
    color: burlywood;
    line-height: 150px;
}

#menu ul {
    text-align: center; 
    letter-spacing: 3px;
    background-color: burlywood;
    position:relative;
    width:100%;
    height:auto;

}
#menu li {
    list-style-type: none;
    font-size: 120%;
    height: 50px;
    display: inline-block;  
    margin: 1%;
    line-height: 25px;
    margin-top: 2rem;
}

#menu , a:hover {
    background-color: black;
    color: burlywood;
}
#menu , a {
   text-decoration: none; 
   color:rgb(13, 12, 14);
}

section {
    text-align: center;
}

fieldset {
    background-color: burlywood;
    height: auto;
}

form {
    padding-top: 20px;
    padding-bottom: 20px;
}

input {
    display: flexbox;
    outline: none;
    padding: 10px;
    border: 2px solid black
}

.input:hover {
    background-color:black ;
    color: burlywood;
}

#review1 {
    text-align: left;
    padding-left: 10px;
}

#review2 {
    text-align: center;
}

#review3 {
    text-align: right;
    padding-right: 10px;
}

.opening-hours{
    display: flex;
    justify-content: center;
}
table , td {
    border: 5px;
    border-color: burlywood;
    table-layout: fixed;
    align-self: center;
}
